@use '../variables/variables' as *;

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-accentuation;

  &:hover {
    background-color: darken($color-primary, 20%);
  }

  &:active {
    transform: scale(0.97);
  }
}