@use '../variables/variables' as *;

.card-media {
  background-color: $cards-background-color;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    border-radius: 6px;
  }
}
