@use '../variables/variables' as *;

.card-media {
  background-color: $cards-background-color;
  border-radius: 10px;
  padding: 15px;
  text-align: center;

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
  }

  img {
    width: auto;
    height: 300px;
  }
}
