@use '../variables/variables' as *;

.fil-ariane {
  font-size: 0.95rem;
  margin: 1rem 2rem;

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }

  li {
    position: relative;

    & + li {
      margin-left: 0.8rem;
      padding-left: 0.8rem;

      &::before {
        content: '/';
        position: absolute;
        left: 0;
        color: lighten($color-secondary, 25%);
      }
    }

    a {
      text-decoration: none;
      color: $color-primary;

      &:hover,
      &:focus {
        color: lighten($color-primary, 15%);
        text-decoration: underline;
      }
    }

    &[aria-current='page'] {
      color: lighten($color-secondary, 40%);
    }
  }

  @media (max-width: 767px) {
    font-size: 0.85rem;
    margin: 0.5rem 1rem;
  }
}
