
.texte {
  font-size: 16px;
  gap: 20px;
}
.contenu{
  display: flex;
  align-items: center;
  gap: 100px;
}
img {  width:300px;
  height: auto;
  border-radius: 10px;
}
.oral{
background-color:white;
padding:20px;
border-radius: 10px;
&-text {
color:yellow;}
}