@use '../variables/variables' as *;

.home-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 50px;

  @media (max-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 50px;
  }

  @media (max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 25px;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 25px;
  }
}

.skip-link {
  position: absolute;
  text-decoration: none;
  top: -40px;
  left: 10px;
  color: $color-primary;

  &:focus-visible {
    top: 10px;
  }
}
