.home-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.skip-link {
  position: absolute;
  text-decoration: none;
  top: -40px;
  left: 10px;
  color: #9fcc2e;

  &:focus-visible {
    top: 10px;
  }
}