@use 'components/components';
@use 'pages/pages';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: #9fcc2e;
}

main {
  padding: 200px;
}

.titre {
  font-size: 60px;
  font-weight: bolder;
}