@use 'components/components';
@use 'variables/variables';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: variables.$color-secondary;
  color: variables.$color-primary;
  padding-left: 200px;
  padding-right: 200px;
}

.titre {
  font-size: 60px;
  font-weight: bolder;
}